<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Janta Janardan Shiksha Sadan Inter College Tilawan Mirzapur</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
</head>

<body>
  <div class="container-fluid">
    <!--top row start-->
    <div class="row  text-light py-2" style="background-color: rgb(34, 34, 100);">
      <div class="col-sm-4 text-center "><i class="fa-solid fa-check fa-bounce " style="color: rgb(252, 62, 62);"></i>
        SCHOOL CODE 891079</div>
      <div class="col-sm-4 text-center"><i class="fa-solid fa-phone fa-bounce " style="color: rgb(243, 57, 57);"></i>
        +91 7376330050</div>
      <div class="col-sm-4 text-center"><i class="fa-solid fa-envelope fa-shake" style="color: rgb(252, 71, 71);"></i>
        ramtirthjanta72@gmail.com</div>


    </div>

    <!--top row end -->

    <!--header start -->
    <div class="row ">
      <div class="col-sm-6 text-left">
        <img src="img/logo2-removebg-preview.png" alt="" height="150rem" width="100%">
      </div>
      <div class="col-sm-2 " style="font-family:initial; margin-top: 50px ; font-size:larger;"> <i
          class="fa-solid fa-phone " aria-hidden="true" style="color: rgb(243, 57, 57);"></i> CALL NOW : <br>
        +91 7376330050</div>
      <div class="col-sm-2" style="font-family:initial; margin-top: 50px ;font-size:larger;"><i
          class="fa-solid fa-envelope" aria-hidden="true" style="color: rgb(252, 71, 71);"></i> MAIL US : <br>
        <a href="#">ramtirthjanta72@gmail.com</a>
      </div>
      <div class="col-sm-2" style="font-family:initial; margin-top: 50px ;font-size:larger;"> <i
          class="fa-solid fa-location-dot" aria-hidden="true" style="color: rgb(252, 71, 71);"></i> OUR
        LOCATION : <br> TILAWAN
        MIRZAPUR</div>
    </div>

    <!--header end-->

    <!--nav bar start -->

    <div class="row">
      <div class="col-sm-12 p-0" style=" background: linear-gradient(45deg, #0027d6, #fc0505);">
        <nav class="navbar navbar-expand-lg ">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active text-light" aria-current="page" href="#" id="home"> Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-light" href="#" id="home">About Us </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-light" href="#" id="home">Our Staf </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-light" href="gallry.html" id="home">Gallery </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-light" href="#" id="home">Contect </a>
                </li>


              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <!--nav bar end -->

    <!--slider start -->

    <div class="row">
      <div class="col-sm-12 p-0">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="img/img1.jpg" class="d-block slider-img " alt="..." height="500px" width="100%" />
              <div class="carousel-caption">
                <h1>जनता जनार्दन शिक्षा सदन इंटर कॉलेज </h1>
                <p>Welcome to Our College </p>

              </div>
            </div>
            <div class="carousel-item">
              <img src="img/img4.jpg" class="d-block slider-img " alt="..." height="500px" width="100%" />
              <div class="carousel-caption">
                <h1>जनता जनार्दन शिक्षा सदन इंटर कॉलेज </h1>
                <p>Welcome to Our College </p>

              </div>
            </div>
            <div class="carousel-item">
              <img src="img/img3.jpg" class="d-block slider-img" alt="..." height="500px" width="100%" />
              <div class="carousel-caption">
                <h1>जनता जनार्दन शिक्षा सदन इंटर कॉलेज </h1>
                <p>Welcome to Our College </p>

              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <!--slider end-->





    <!--our proces start-->

    <div class="row py-5 mt-4">
      <div class="col-sm-11 mx-auto" data-aos="fade-up" data-aos-duration="1000">
        <h5 class="text-center text-warning">---OUR COLLEGE---</h5>
        <h1 class="text-center text-dark"><b>How Our College Works</b></h1>
        <p class="text-center text-dark py-2">
          Our college provides quality education, experienced teacher, and a supportive learning environment.<br />
          We focuse on acedemic excellence, character development, and preparing students for a successful feature.
        </p>

        <div class="row py-5">
          <div class="col-sm-3 mt-2">
            <div class="card" style="width: 100%" data-aos="flip-left" data-aos-duration="3000">
              <div class="card-body shadow">
                <i class="fas fa-book-open py-4 text-warning text-warning" style="font-size: xx-large"></i>
                <h5 class="card-title">Student Admission</h5>
                <p class="card-text">
                  Complete the admission process by submitting the required documents and choosing your desired academic
                  stream.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 mt-2">
            <div class="card" style="width: 100%" data-aos="flip-left" data-aos-duration="3000">
              <div class="card-body shadow">
                <i class="fas fa-layer-group py-4 text-warning" style="font-size: xx-large"></i>
                <h5 class="card-title">Quality Education</h5>
                <p class="card-text">
                  Learn from experinced teacher through modern teaching methods, practical activities, and a
                  well-planned curriculum
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 mt-2">
            <div class="card" style="width: 100%" data-aos="flip-left" data-aos-duration="3000">
              <div class="card-body shadow">
                <i class="fas fa-shield-alt py-4 text-warning" style="font-size: xx-large"></i>
                <h5 class="card-title">Student Development </h5>
                <p class="card-text">
                  Participate in sports, cultural programs,seminars, and skill development activities to build
                  confidence and leadership
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 mt-2">
            <div class="card" style="width: 100%" data-aos="flip-left" data-aos-duration="3000">
              <div class="card-body shadow">
                <i class="fa-regular fa-circle-check py-4 text-warning" style="font-size: xx-large"></i>
                <h5 class="card-title">Successful feature</h5>
                <p class="card-text">
                  Receive guidance for higher education and career opportunities while developing strong vlue and
                  academic excellence.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--our proces end-->

















    <!--footer start-->
    <div class="row py-5">
      <!-- Footer -->
      <footer class="text-center text-lg-start text-muted" style="background-color: rgb(53, 54, 66)">
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <a href="{% url 'index' %}"> <img src="{% static " img/logo.png" %}" alt="" height="70px"></a>
                <p class="text-light">
                  Our college provides quality education, experienced teacher, and a supportive learning environment.
                  We focuse on acedemic excellence, character development, and preparing students for a successful
                  feature.
                </p>
                <i class="fa-brands fa-facebook text-light" style="font-size: x-large"></i>
                <i class="fa-brands fa-twitter text-light" style="font-size: x-large"></i>
                <i class="fa-brands fa-instagram text-light" style="font-size: x-large"></i>
                <i class="fa-brands fa-dribbble text-light" style="font-size: x-large"></i>
                <i class="fa-brands fa-youtube text-light" style="font-size: x-large"></i>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 text-light">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Quick Links</h6>
                <p>
                  <a href="index.html" class="text-reset text-decoration-none">
                    <i class="fa-solid fa-arrow-right text-warning"></i>
                    <span id="quick-text">Home</span></a>
                </p>
                <p>
                  <a href="{% url 'services' %}" class="text-reset text-decoration-none">
                    <i class="fa-solid fa-arrow-right text-warning"></i>
                    <span id="quick-text">About Us</span></a>

                </p>
                <p>
                  <a href="{% url 'projects' %}" class="text-reset text-decoration-none">
                    <i class="fa-solid fa-arrow-right text-warning"></i>
                    <span id="quick-text">Our Staf</span></a>

                </p>
                <p>
                  <a href="gallry.html" class="text-reset text-decoration-none">
                    <i class="fa-solid fa-arrow-right text-warning"></i>
                    <span id="quick-text">Gallary</span></a>

                </p>
                <p>
                  <a href="{% url 'contact' %}" class="text-reset text-decoration-none">
                    <i class="fa-solid fa-arrow-right text-warning"></i>
                    <span id="quick-text">Contact</span></a>
                </p>
                <p>
                  <a href="{% url 'adminlogin' %}" class="text-reset text-decoration-none">
                    <i class="fa-solid fa-arrow-right text-warning"></i>
                    <span id="quick-text">Admin Login</span></a>
                </p>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mb-4 text-light">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Our Services</h6>
                <p>
                  <a href="#!" class="text-reset text-decoration-none">
                    <i class="fa-solid fa-arrow-right text-warning"></i>
                    <span id="quick-text">Project Management</span></a>

                </p>
                <p>
                  <a href="#!" class="text-reset text-decoration-none">
                    <i class="fa-solid fa-arrow-right text-warning"></i>
                    <span id="quick-text">Architecture planning</span></a>

                </p>
                <p>
                  <a href="#!" class="text-reset text-decoration-none">
                    <i class="fa-solid fa-arrow-right text-warning"></i>
                    <span id="quick-text">Contractor Collaboration</span></a>

                </p>
                <p>
                  <a href="#!" class="text-reset text-decoration-none">
                    <i class="fa-solid fa-arrow-right text-warning"></i>
                    <span id="quick-text">Supply Chain Solutions</span></a>

                </p>
                <p>
                  <a href="#!" class="text-reset text-decoration-none">
                    <i class="fa-solid fa-arrow-right text-warning"></i>
                    <span id="quick-text">sustainability Consulting</span></a>

                </p>
                <p>
                  <a href="#!" class="text-reset text-decoration-none">
                    <i class="fa-solid fa-arrow-right text-warning"></i>
                    <span id="quick-text">Client Portal Acces</span></a>

                </p>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-light">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
                <p>
                  <i class="fa-solid fa-location-dot me-3 text-warning"></i>Janta janardan siksha sadan <br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; inter college ,
                  <br />&nbsp;&nbsp; Tilawan Lalganj Mirzapur
                </p>
                <p>
                  <i class="fas fa-envelope me-3 text-warning"></i>
                  ramtirthjanta72@gmail.com
                </p>
                <p>
                  <i class="fas fa-phone me-3 text-warning"></i> +91
                  7376330050
                </p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4 text-light" style="background-color: rgba(20, 20, 20, 0.416)">
          © 2025 Copyright: J.J.S.S.I.College. Designed and Developed by
          <a class="text-warning fw-bold" href="{% url 'profile' %}">
            Rishu Singh</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </div>
    <!--footer end-->


     <!--Map start-->
        <div class="row py-5 bg-dark">
            <div class="col-sm-11 mx-auto">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2981.749207366829!2d82.32329337436771!3d24.94340194193556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398f8f1fd3f111f1%3A0x51965f6b8f694034!2sjanata%20janardan%20shiksha%20sadan%20inter%20college!5e1!3m2!1sen!2sin!4v1785489993272!5m2!1sen!2sin"
                    width="100%" height="450" style="border:0;" class="rounded" allowfullscreen="" loading="lazy"
                    referrerpolicy="strict-origin-when-cross-origin"></iframe>
            </div>
        </div>
        <!--Map end-->


  </div>
  <script src="js/bootstrap.bundle.js"></script>
</body>

</html>